extends layout

block content
  h1(style="font-family:courier;color:white;font-size:250%;border-style:solid;border-color:white;display:table;padding:10px;position:absolute;left:5%;top:5%")= title
  button(style="font-family:courier;color:white;font-size:160%;position:absolute;left:15%;top:75%;width:120px;height:60px").ui.red.button#hit
    | Hit
  br
  button(style="font-family:courier;color:white;font-size:160%;position:absolute;left:15%;top:85%;width:120px;height:60px").ui.blue.button#stay
    | Stay
  br
  .ui.basic.modal.startup
      .ui.icon.header
        i.gamepad.icon
        p(style="text-align:center;font-family:courier;color:white;font-size:200%;") Blackjack
      .content
        p(style="text-align:center;font-family:courier;font-size:200%;")
          | Would you like to play a game of Blackjack? 
      .actions
        .ui.green.ok.inverted.button#start
          i.handshake.icon
          p(style="text-align:center;font-family:courier;font-size:130%;") Deal
  br
  .ui.basic.modal.dealerwon
      .ui.icon.header
        i.trophy.icon
          p(style="text-align:center;font-family:courier;color:red;font-size:100%;") Dealer won!
      .content
        p(style="text-align:center;font-family:courier;font-size:200%;")
          | Would you like to play again? 
      .actions
        .ui.green.ok.inverted.button#dealerstart
          i.thumbs.up.icon
          p(style="text-align:center;font-family:courier;font-size:130%;") Yes!
  br
  .ui.basic.modal.playerwon
      .ui.icon.header
        i.trophy.icon
          p(style="text-align:center;font-family:courier;color:green;font-size:100%;") You won!
      .content
        p(style="text-align:center;font-family:courier;font-size:200%;")
          | Would you like to play again? 
      .actions
        .ui.green.ok.inverted.button#playerstart
          i.thumbs.up.icon
          p(style="text-align:center;font-family:courier;font-size:130%;") Yes!
  br
  .ui.basic.modal.tie
      .ui.icon.header
        i.trophy.icon
          p(style="text-align:center;font-family:courier;color:white;font-size:100%;") It was a tie!
      .content
        p(style="text-align:center;font-family:courier;font-size:200%;")
          | Would you like to play again? 
      .actions
        .ui.green.ok.inverted.button#tiestart
          i.thumbs.up.icon
          p(style="text-align:center;font-family:courier;font-size:130%;") Yes!
  br

  div.card#dcard1(style="left:30%;top:5%")
        .flipper
          .front
          .back#dcardb1

  div.card#dcard2(style="left:35%;top:5%")
        .flipper
          .front
          .back#dcardb2

  div.card#dcard3(style="left:40%;top:5%")
        .flipper
          .front
          .back#dcardb3

  div.card#dcard4(style="left:45%;top:5%")
        .flipper
          .front
          .back#dcardb4
  div.card#dcard5(style="left:50%;top:5%")
        .flipper
          .front
          .back#dcardb5

  div.card#dcard6(style="left:55%;top:5%")
        .flipper
          .front
          .back#dcardb6

  div.card#dcard7(style="left:60%;top:5%")
        .flipper
          .front
          .back#dcardb7

  div.card#dcard8(style="left:65%;top:5%")
        .flipper
          .front
          .back#dcardb8
  
  div.card#pcard1(style="left:30%;top:70%")
        .flipper
          .front
          .back#pcardb1

  div.card#pcard2(style="left:35%;top:70%")
        .flipper
          .front
          .back#pcardb2

  div.card#pcard3(style="left:40%;top:70%")
        .flipper
          .front
          .back#pcardb3

  div.card#pcard4(style="left:45%;top:70%")
        .flipper
          .front
          .back#pcardb4

  div.card#pcard5(style="left:50%;top:70%")
        .flipper
          .front
          .back#pcardb5

  div.card#pcard6(style="left:55%;top:70%")
        .flipper
          .front
          .back#pcardb6

  div.card#pcard7(style="left:60%;top:70%")
        .flipper
          .front
          .back#pcardb7

  div.card#pcard8(style="left:65%;top:70%")
        .flipper
          .front
          .back#pcardb8
  
  div.deck(style="left:5%;top:40%")#deck1
  div.deck(style="left:5%;top:40%")#deck2
  div.deck(style="left:5%;top:40%")#deck3
  div.deck(style="left:5%;top:40%")#deck4
  div.deck(style="left:5%;top:40%")#deck5
  div.deck(style="left:5%;top:40%")#deck6
  div.deck(style="left:5%;top:40%")#deck7
  div.deck(style="left:5%;top:40%")#deck8
  div.deck(style="left:5%;top:40%")#deck9
  div.deck(style="left:5%;top:40%")#deck10
  div.deck(style="left:5%;top:40%")#deck11
  div.deck(style="left:5%;top:40%")#deck12
  div.deck(style="left:5%;top:40%")#deck13
  div.deck(style="left:5%;top:40%")#deck14
  div.deck(style="left:5%;top:40%")#deck15
  div.deck(style="left:5%;top:40%")#deck16

  div.score(style="left:85%;top:10%")#dscore
    p.num#dnum=""
  div.score(style="left:85%;top:75%")#pscore
    p.num#pnum=""

  div.stext(style="left:85%;top:25%")
    p.txt="Dealer's Score"
  div.stext(style="left:85%;top:90%")
    p.txt="Player's Score"


  
